html {
	height: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	float: left;
	width: 100%;
}

header {
	background-color: #DDD;
	width: 100%;
	position: fixed;
	z-index: 10;
}

nav {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	display: table;
	padding-top: 5px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0px;
	line-height: 75px;
} 

nav .left {
	list-style: none;
	float: left;
}

nav .right {
	list-style: none;
	float: right;
} 

nav li {
	display: inline-block;
	width: 196px;
	border: 0 none;
	padding: 10px 0px;
}

nav li a { 
	text-decoration: none; 
	color: #000;
}

nav li a:hover {
	color: #FFFFFF;
}

nav .menu {
	float: left;
	display: block;
	margin: 0 53px;
}

nav .menu img {
	width: 100px;
	height: auto;
}

.container {
	height: 100%;
	width: 100%;
	float: left;
}

.content {
	background-color: #CCC;
	height: 100%;
	width: 1000px;
	display: table;
	margin: auto;
	margin-top: 109px;
}

.cycle-slideshow{
	z-index: 1;
}

.portifolio {
	background-color: #BBB;
	width: 100%;
	height: 100%;
	float: left;
	margin-bottom: 15px;
}

.portifolio span {
	margin:auto;
	display:table;
	text-align: center;
}

.portoption {
	background-color: #AAA;
	width: 333px;
	height: 333px;
	position: relative;
	float: left;
}

.blog {
	background-color: #AAA;
	float: left;
	position: relative;
	width: 490px;
	height: 600px;
}

.contato {
	background-color: #AAA;
	float:right;
	position:relative;
	width: 490px;
	height: 600px;
}

footer {
	background-color: #AAA;
	width:100%;
	text-align: center;
	float: left;
	margin-top: 15px;
	padding: 10px 0px;
}
